@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Fredericka+the+Great');

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'M PLUS 1p', sans-serif;
  div.icon {
    display: none;
  }

  header {
    background: url("../images/ТАЗИ да бъде главната-min.jpg"), no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: auto;
    padding-bottom: 2%;
    nav {
      display: flex;
      width: 100%;
      position: fixed;
      justify-content: space-around;
      background-color: black;
      height: 45px;
      z-index: 5;
      a.navbar-brand {
        color: white;
        text-decoration: none;
        font-family: 'Amatic SC', cursive;
        font-size: 33px;
        font-weight: bold;
      }
      ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding-top: 11px;
        li {

          a {
            padding: 12px 24px;
            text-decoration: none;
            color: white;

            &:hover {
              color: #c1bcbc;
              text-decoration: none;
            }
          }
        }
      }
    }
    div.logo {
      display: block;
      width: 29%;
      margin: 0 auto;
      opacity: 0.3;
      padding-top: 3rem;
      img {
        width: 100%;
      }
    }
    h1 {
      font-weight: bold;
      text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
      text-align: center;
    }

    .section {
      text-align: center;
      display: flex;
      justify-content: space-around;
      margin: 5% auto 0 auto;
      border-radius: 20px;
      width: 90%;
      padding: 2%;
      color: white;

      background: linear-gradient(135deg, rgba(76, 76, 76, 0.61) 0%, rgba(89, 89, 89, 0.6) 12%, rgba(102, 102, 102, 0.6) 25%, rgba(71, 71, 71, 0.6) 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);

      article {
        display: block;
        margin-right: 1%;
        h3 {
          font-size: 2.65rem;
          margin: 4% auto;
          display: inline-block;
        }
        p {
          font-size: 1.2em;

        }

      }
      .img {
        width: 334%;
        height: auto;
        margin-top: 8%;
        img {
          width: 100%;

        }
      }

    }
  }

  footer {
    background: #343A40;
    padding: 1% 0;
    font-size: 1.1em;
    div.contact-foot {
      display: flex;
      justify-content: space-around;
      ul.left {
        margin-right: 11%;
        list-style: none;
        i {
          color: gainsboro;
        }
        li {
          color: gainsboro;
          a {
            color: gainsboro;
            text-decoration: none;
          }
        }

      }
      ul.right {
        list-style: none;
        margin-left: 11%;
        margin-top: 2%;
        li {
          color: gainsboro;
          a {
            color: gainsboro;
            text-decoration: none;
            &:hover {
              color: #1c699d;
            }
          }
        }
      }

    }
    span {
      display: block;
      color: gainsboro;
      text-align: center;
      letter-spacing: 3px;
    }
  }
}

@media (min-width: 1281px) {
  body{
    header{
      .section{
        article{
          p{
            font-size: 1.4em;
          }
        }
      }
    }
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media all and(min-width: 1025px) and (max-width: 1280px) {
  body {

    header {
      height: auto;

      .section{
        display: flex;
        article{
          p{

          }
        }
        div.img{
          width: 334%;
          height: auto;
          margin-top: 8%;
          img{
            width: 100%;
          }
        }
      }
    }

  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media all and(min-width: 768px) and (max-width: 1024px) {
  body {

    header {
      height: auto;

      .section{
        display: flex;
        flex-direction: column;
        article{
          p{
            font-size: 1em;
          }
        }
        div.img{
          width: 70%;
          margin: 0 auto;
          img{
            width: 100%;
          }
        }
      }
    }

  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media all and(min-width: 481px) and (max-width: 767px) {

  body {
    div.icon {
      display: block;
      .fa-bars {
        display: table;
        font-size: 40px;
        margin: 0px auto;
        color: whitesmoke;
      }
    }
    header {
      height: auto;
      nav {
        background: transparent;
        height: auto;
        display: block;
        position: inherit;
        .navbar-brand {
          text-align: center;
          display: block;
          float: none;
        }
        ul {
          display: none;
          li {
            padding: 9px 0;
            background: #67271c9e;
            a {
              padding: 0px 100px;
              &:hover {
                background: none;
              }
            }
          }
        }
      }
      .section{
        display: flex;
        flex-direction: column;
        article{
          p{
            font-size: 1em;
          }
        }
        div.img{
          width: 90%;
          margin: 0 auto;
          img{
            width: 100%;
          }
        }
      }
    }
    footer {
      div.contact-foot {
        flex-direction: column;
        ul.left {
          margin: 2% auto;
          text-align: center;

        }
        ul.right {
          margin: 2% auto;
          text-align: center;

        }
      }
    }
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media all and(min-width: 320px) and (max-width: 480px) {

  body {
    div.icon {
      display: block;
      .fa-bars {
        display: table;
        font-size: 40px;
        margin: 0px auto;
        color: whitesmoke;
      }
    }
    header {
      height: auto;
      nav {
        background: transparent;
        height: auto;
        display: block;
        position: inherit;
        .navbar-brand {
          text-align: center;
          display: block;
          float: none;
        }
        ul {
          display: none;
          li {
            padding: 9px 0;
            background: #67271c9e;
            a {
              padding: 0px 100px;
              &:hover {
                background: none;
              }
            }
          }
        }
      }
      .section{
        display: flex;
        flex-direction: column;
        article{
          p{
            font-size: 1em;
          }
        }
        div.img{
          width: 90%;
          margin: 0 auto;
          img{
            width: 100%;
          }
        }
      }
    }
    footer {
      div.contact-foot {
        flex-direction: column;
        ul.left {
          margin: 2% auto;
          text-align: center;

        }
        ul.right {
          margin: 2% auto;
          text-align: center;

        }
      }
    }
  }

}

@media all and (max-width: 320px){
  body {
    div.icon {
      display: block;
      .fa-bars {
        display: table;
        font-size: 40px;
        margin: 0px auto;
        color: whitesmoke;
      }
    }
    header {
      height: auto;
      nav {
        background: transparent;
        height: auto;
        display: block;
        position: inherit;
        .navbar-brand {
          text-align: center;
          display: block;
          float: none;
        }
        ul {
          display: none;
          li {
            padding: 9px 0;
            background: #67271c9e;
            a {
              padding: 0px 100px;
              &:hover {
                background: none;
              }
            }
          }
        }
      }
      .section{
        display: flex;
        flex-direction: column;
        article{
          p{
            font-size: 0.9em;
          }
        }
        div.img{
          width: 90%;
          margin: 0 auto;
          img{
            width: 100%;
          }
        }
      }
    }
    footer {
      div.contact-foot {
        flex-direction: column;
        ul.left {
          margin: 2% auto;
          text-align: center;

        }
        ul.right {
          margin: 2% auto;
          text-align: center;

        }
      }
    }
  }
}